<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:dubbo="http://code.alibabatech.com/schema/dubbo" xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
            http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd
            http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd
            http://code.alibabatech.com/schema/dubbo http://code.alibabatech.com/schema/dubbo/dubbo.xsd"
	default-autowire="byName" default-lazy-init="false">


	<import resource="classpath:/applicationContext-dubbo.xml"/>

	<dubbo:consumer check="false" />
	<!-- 服务消费 -->
	<!-- 生成远程服务代理，可以和本地bean一样使用demoService -->
	<!---->
	<dubbo:reference id="hystrixTestWithFallbackService"
		interface="com.netease.edu.boot.hystrixtest.service.HystrixTestWithFallbackService"
		check="false" version="1.0.0" />

	<dubbo:reference id="hystrixTestNoFallbackService"
					 interface="com.netease.edu.boot.hystrixtest.service.HystrixTestNoFallbackService"
					 check="false" version="1.0.0" />
		

</beans>
