<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:rabbit="http://www.springframework.org/schema/rabbit"
       xmlns:task="http://www.springframework.org/schema/task"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	   http://www.springframework.org/schema/beans/spring-beans.xsd


	   http://www.springframework.org/schema/rabbit
	   http://www.springframework.org/schema/rabbit/spring-rabbit-2.0.xsd
	   http://www.springframework.org/schema/task
       http://www.springframework.org/schema/task/spring-task-4.0.xsd">


    <task:executor id="taskExecutor" pool-size="25-256"
                   queue-capacity="128"/>

    <bean id="rabbitConnectionFactory" class="com.rabbitmq.client.ConnectionFactory">
        <property name="host" value="${nqs_host}"/>
        <property name="port" value="${nqs_port}"/>
        <property name="username" value="${nqs_username}"/>
        <property name="password" value="${nqs_password}"/>
        <property name="virtualHost" value="${nqs_vhost}"/>
        <property name="connectionTimeout" value="3600000"/>
    </bean>

    <bean id="rabbitConnFactory"
          class="org.springframework.amqp.rabbit.connection.CachingConnectionFactory">
        <constructor-arg ref="rabbitConnectionFactory"/>
        <property name="channelCacheSize" value="100"/>
        <property name="executor" ref="taskExecutor"/>
    </bean>
    <rabbit:admin connection-factory="rabbitConnFactory"/>

    <bean id="jsonMessageConverter"
          class="org.springframework.amqp.support.converter.Jackson2JsonMessageConverter">
    </bean>


    <rabbit:topic-exchange name="traceDemoTopicExchange">
        <rabbit:bindings>
            <rabbit:binding queue="traceDemoQueue" pattern="traceDemo-1.0.0${local_service_version_suffix}"/>
        </rabbit:bindings>
    </rabbit:topic-exchange>
    <!-- 队列声明 -->
    <rabbit:queue id="traceDemoQueue" durable="true" auto-delete="false" exclusive="false" name="traceDemoQueue">
    </rabbit:queue>

    <!-- 新用户事件 -->
    <rabbit:template id="traceDemoAmqpTemplate"
                     connection-factory="rabbitConnFactory" exchange="traceDemoTopicExchange"
                     routing-key="traceDemo-1.0.0${local_service_version_suffix}"
                     message-converter="jsonMessageConverter"/>

    <rabbit:listener-container connection-factory="rabbitConnFactory">
        <rabbit:listener ref="traceDemoMessageListener" queue-names="traceDemoQueue"/>
    </rabbit:listener-container>


    <bean id="traceDemoMessageListener" class="com.netease.edu.boot.hystrixtest.message.TraceDemoMessageListener"/>


    <!-- shuffle consumer test start-->

    <rabbit:topic-exchange name="shuffleDemoTopicExchange${local_service_version_suffix}">
        <rabbit:bindings>
            <rabbit:binding queue="shuffleDemoQueueC1" pattern="#"/>
        </rabbit:bindings>
    </rabbit:topic-exchange>

    <rabbit:queue id="shuffleDemoQueueC1" durable="true" auto-delete="false"
                  exclusive="false" name="shuffleDemoQueueC1${local_service_version_suffix}">
    </rabbit:queue>


    <rabbit:listener-container connection-factory="rabbitConnFactory">
        <rabbit:listener ref="shuffleDemoMessageListener"
                         queue-names="shuffleDemoQueueC1${local_service_version_suffix}"/>
    </rabbit:listener-container>


    <!-- 重试测试用例 -->

    <rabbit:queue id="deploy_job_shuffle_demoQueue" durable="true"
                  auto-delete="false" exclusive="false"
                  name="deploy_job_shuffle_demo${local_service_version_suffix}">
    </rabbit:queue>

    <rabbit:listener-container connection-factory="rabbitConnFactory">
        <rabbit:listener ref="delayJobDemoListener" queue-names="deploy_job_shuffle_demo${local_service_version_suffix}"/>
    </rabbit:listener-container>




    <rabbit:topic-exchange name="shuffleRetryDemoExchange${local_service_version_suffix}"
                           durable="true" auto-delete="false">
        <rabbit:bindings>
            <rabbit:binding queue="shuffleRetryDemoQueue" pattern="#"/>
        </rabbit:bindings>
    </rabbit:topic-exchange>

    <rabbit:queue id="shuffleRetryDemoQueue" durable="true"
                  auto-delete="false" exclusive="false"
                  name="shuffleRetryDemoQueue${local_service_version_suffix}">
    </rabbit:queue>


    <rabbit:listener-container connection-factory="rabbitConnFactory">
        <rabbit:listener ref="shuffleRetryableDemoListener" queue-names="shuffleRetryDemoQueue${local_service_version_suffix}"/>
    </rabbit:listener-container>


    <rabbit:template id="shuffleRetryForwardAmqpTemplate"
                     connection-factory="rabbitConnFactory"
                     exchange="shuffleRetryDemoDelayExchange${local_service_version_suffix}"
                     message-converter="jsonMessageConverter" />

    <rabbit:direct-exchange
            name="shuffleRetryDemoDelayExchange${local_service_version_suffix}"
            durable="true" auto-delete="false">
        <rabbit:bindings>
            <rabbit:binding queue="shuffleRetryDemoDelayQueue"
                            key="shuffleRetryDemo" />
        </rabbit:bindings>
    </rabbit:direct-exchange>


    <rabbit:queue id="shuffleRetryDemoDelayQueue" durable="true"
                  auto-delete="false" exclusive="false"
                  name="shuffleRetryDemoDelayQueue${local_service_version_suffix}">
        <rabbit:queue-arguments>
            <entry key="x-dead-letter-exchange" value="shuffleRetryDemoRouteBackExchange${local_service_version_suffix}" />
            <entry key="x-message-ttl" value="120000" value-type="java.lang.Long"/>
        </rabbit:queue-arguments>
    </rabbit:queue>

    <rabbit:direct-exchange
            name="shuffleRetryDemoRouteBackExchange${local_service_version_suffix}"
            durable="true" auto-delete="false">
        <rabbit:bindings>
            <rabbit:binding queue="shuffleRetryDemoQueue"
                            key="shuffleRetryDemo" />
        </rabbit:bindings>
    </rabbit:direct-exchange>


    <!-- shuffle consumer test end-->
</beans>
