<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	   http://www.springframework.org/schema/beans/spring-beans.xsd ">

    <import resource="classpath:applicationContext-async.xml"/>
    <import resource="classpath:/applicationContext-dubbo.xml"/>
    <import resource="classpath:applicationContext-dubbo-provider.xml"/>
    <import resource="classpath:base/applicationContext-framework-dao-base.xml"/>
    <import resource="classpath:base/applicationContext-framework-cache-base.xml"/>
    <import resource="classpath:base/applicationContext-search.xml"/>
    <import resource="classpath:applicationContext-jms.xml"/>
    <import resource="classpath:applicationContext-cache.xml"/>

</beans>
